@font-face {
  font-family: clashb;
  src: url(./fonts/Louis\ George\ Cafe\ Bold.ttf);
}

@font-face {
  font-family: clashl;
  src: url(./fonts/Louis\ George\ Cafe.ttf);
}

@font-face {
  font-family: autog;
  src: url(./fonts/Autography.otf);
}
.navbar-brand{
  font-family: autog;
  font-size: 50px !important;
  color: black;
}
.col{
  color: white !important;
}
.navbar {
/* Ensure default color is visible */
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.navbar-scrolled {
  background-color: #000000a8; 
 backdrop-filter: blur(2px);/* Change to your desired background color */
}
.nav-link{
  color: black ;
  font-family: clashb;
  text-transform: uppercase;
  transition: text-decoration 0.3s ease;
}
.nav-link:hover{
  text-decoration: underline;
  text-underline-offset: 10px;
}
.navbar-nav{
  background-color: rgba(0, 0, 0, 0.601);
  backdrop-filter: blur(3px);
  padding: 10px;
  border-radius: 20px;
}

h1,p,h2,h3,h4{
  font-family: clashl;
}
/* globals.css */

/* Adjusting the size of headings */
h1 {
  font-size: 3rem; /* 48px */
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.5rem;
}

h2 {
  font-size: 2.5rem; /* 40px */
  font-weight: bold;
  margin-bottom: 1.25rem;
}

h3 {
  font-size: 2rem; /* 32px */
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Adjusting the size of paragraphs */
p {
  font-size: 1.125rem; /* 18px */
  line-height: 1.6;
  margin-bottom: 1rem;
}

.response{
  background-color: rgb(0, 0, 0);
  padding: 15px;
  color: rgb(60, 239, 6);
  border-radius: 20px;
}

.dat{
  margin-top:150px;
  padding: 20px;
}

/* From Uiverse.io by Yaya12085 */ 
.button {
  display: flex;
  background-color: rgb(24, 23, 23);
  color: #ffffff;
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .6s ease;
  text-decoration: none !important;
}

.button svg {
  height: 30px;
}

.button:hover {
  box-shadow: none;
}

.price{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

@media only screen and (max-width: 600px) {
  .dat {
    padding: 0 !important;
  }
}